module Settings

  # recipient's email address
  def self.mail_recipient
    'nowhere@changeme.com,anotherrecipient@changeme.com'
  end
  
  # the subject that will appear on the recipients email client
  def self.mail_subject
    '[My Name Timesheet]'
  end
  
  # we will use this to send the email
  def self.mail_options
    { 
     :address              => 'smtp.gmail.com',
     :port                 => '587',
     :enable_starttls_auto => true,
     :user_name            => 'username',
     :password             => 'password',
     :authentication       => :plain, # :plain, :login, :cram_md5, no auth by default
     :domain               => "localhost.localdomain" # the HELO domain provided by the client to the server 
    }
  end
  
  # this is the email template
  def self.stylesheet
    'styles/cuskosky.css'
  end

  # your harvest credentials
  def self.harvest
    {
      :subdomain => 'subdomain',
      :username => 'username',
      :password => 'password'
    }
  end
  
  # your actual harvest cient name
  def self.client_name
    'Juan Dela Cruz'
  end
  
end